/*_____CONFIGURAÇÕES GLOBAIS_____*/

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor0: #940707;
    --cor1: #d9d9d9;
    --cor2: #77b513;
    --cor3: #4a0000;
    --cor4: #ababab;
}

#font_1 {
    font-size: 2vw;
    margin: 0px;

}

#font_2 {
    font-size: 0.75vw;
    margin: 0px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    color: black;   
    position: absolute;
    
   
}



/*_______MENU_INICIO______*/

div.menu.navegacao{
    position: relative;
}

.menu {
    background-image: linear-gradient(to bottom, var(--cor3), #c22a2a);
    background-repeat: no-repeat;
    width: 100vw;
    color: white;
    text-shadow: 10px 5px 10px rgba(0, 0, 0, 0.301);
    display: flex;
    padding: 15px 15px 5px 5px;
}

.div_menu {
    width: 49%;
    padding-left: 2%;
    height: 20%;
}

.navegacao {
    /* padding: 15px 15px 5px 5px; */
    position: absolute;
    right: 0px;
    padding-right: 2%;
}

.btn_tamanho {
    width: 107px;
    color: black;
    background-color: #ababab;
    padding: 5px 0px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.301);
    border-radius: 5px;
    border: none;
    text-decoration: none;
    text-align: center;
    margin-left: 3px;
}

button:hover {
    background-color: var(--cor1);
}

/*_______MENU_FINAL______*/

/*_____MAIN_INICIO_______*/



#cardapio{
   
    margin-top: 3%;
    text-align: center;
}

#borda{
   
    /* border: 1px solid red; */
    max-width: 80vw;
    max-height: 60vh;
    margin: auto;
    border: none;
}

.linha{
   margin: auto;
    width: 90%;
    height: 90%;
    /* border: 1px solid black; */
    display: flex;
    border: none;


}


.coluna{
    border: none;
    width: 15%;
    height: 15%;
    margin: 10px;
  
    /* border: 1px solid black; */
    
}

.coluna > button > img{
    max-width: 100%;
    max-height: 100%;
    border: none;
    
}
.coluna > button {
    
    border: none;
    
}




/*_____MAIN_FINAL_______*/



/*___________FOOTER_INICIO_____________*/

.rodape {
    background-image: linear-gradient(to top, var(--cor0), #c22a2a);
    bottom: 0;
    position: fixed;
    width: 100vw;
    height: 3%;
    padding: 10px 0px 5px 0px;
    text-align: center;
    color: white;
    text-shadow: 10px 5px 10px rgba(0, 0, 0, 0.301);
}

.rodape>p {
    width: 100vw;
    position: absolute;
    top: 0px;
    text-align: center;
}



/*___________FOOTER_FIM_____________*/


@media screen and (max-width:700px) {
    .btn_tamanho {
        width: 80px;
        font-size: 2vw;
    }

    #font_1 {
        font-size: 2.5vw;
        margin: 0px;
    }

    #font_2 {
        font-size: 1.75vw;
        margin: 0px;
    }
}

@media screen and (max-width:585px) {
    .btn_tamanho {
        width: 65px;
        
        padding: 2px;
        margin: 0px;
    }

    #font_1 {
        font-size: 3vw;
        margin: 0px;
    }

    #font_2 {
        font-size: 2vw;
        margin: 0px;
    }
}

@media screen and (max-width:500px) {
    .btn_tamanho {
        width: 55px;
        font-size: 2.2vw;
        padding: 2px;
        margin-top: 0px;
    }
    #font_2 {
        font-size: 2.2vw;
        margin: 0px;
    }
    
}

@media screen and (max-width:420px) {
    .btn_tamanho {
        width: 50px;
        
        padding: 2px;
        margin: 0px;
    }

    #font_1 {
        font-size: 2.7vw;
        margin: 0px;
    }

    #font_2 {
        font-size: 2.5vw;
        margin: 0px;
    }


}
